 .container{
     margin-bottom: 100px;
 }
 .carousel-item {
     padding: 20px 40px;
     
 }
 .slider-bg{
     background-color: #fceae8;
     border-radius: 10px;
 }
 .price{
     color: #ff136f;
 }
 .buy-now-btn{
     background-color: blue;
 }

 .watch{
     background-color: orange;
 }
 .bag{
     background-color: orchid;
 }
 .shoes{
     background-color: lightseagreen;
 }
 .watch, .bag, .shoes{
     padding: 10px 20px;
     border-radius: 5px;
 }
 .catagories h1{
     color: white;
 }
 .catagories img{
     width: 100px;
 }